[Unit]
Description=Run environment measurements every 30s

[Timer]
OnBootSec=15
OnUnitActiveSec=15s
Persistent=true

[Install]
WantedBy=timers.target

